.container{
    width: 80%;
}


.image-wrapper {
    position: relative;
    width: 100%;
}
.image-wrapper:before {
    content:"";
    display: block;
    padding-top: 62.5%; /* 高さを幅の75%に固定 */
    margin-bottom: 3vmax;

}
.image-subwrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.image{
   width: 100%;
   height: 100%;
   object-fit: cover;

}


.group-image-list{
    display: grid;
    grid-template-rows: 22vmax 22vmax;
    grid-template-columns: 60% 30%;
    grid-gap: 5% 5%;
    margin-bottom: 5vmax;
}

.group-image-1{
    grid-row: span 2;
}






.group{
    margin-bottom: 3vmax;

}


.group-title{
    margin-bottom: 3vw;
    font-size: 10vmax;
    background-color: #ededed;
    padding-left: 2vw;
    border-radius: 5px;

}

.group-title h1{
    font-size: 5vmax;

}
.group-content{
    background-color: #f9f9f9;
    margin-bottom: 5vmax;
    padding-top: 0.5vw;
    padding-left: 2vw;
    border-radius: 5px;
    border: 1px solid #ededed;
    box-shadow: 2px  2px 2px rgba(0,0,0,0.3);
}



.group-tag{
   display: inline-block;
   border:1px solid rgba(0, 0, 0, .125);
   border-radius: 5px;
   padding: 2px 5px;
   margin-right: 1vmax;

}


.user-list{
    margin-top: 50px;

}



.user-list h2{
    margin-bottom: 30px
}

.user{
    margin-bottom: 30px;
    padding: 0 3% 5% 3%;
    background-color: #f9f9f9;
    border-radius: 5px;
    position: relative;
    z-index: 1; /* 必要であればリンク要素の重なりのベース順序指定 */

}

.name{
    font-size: 3vmax;
    padding-bottom: 1vmax;
}


.user-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
}




.title{
    font-size: 3vmax;
    padding-bottom: 1vmax;
}


.post-list{
    margin-top: 50px;

}



.post-list h2{
    margin-bottom: 30px
}



.post{
    margin-bottom: 30px;
    padding: 3% 3% 5% 3%;
    background-color: #f9f9f9;
    border-radius: 5px;
    position: relative;
    z-index: 1; /* 必要であればリンク要素の重なりのベース順序指定 */

}



.post-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
}

.posted-at{
    margin-bottom: 2vmax;
    border-bottom: 1px solid #ededed;
}

.post-image{
    width: 100%;
    height: 13vmax;
}

.need-signup{
    color: green;
    font-size: 2vmax;
}

.place{
    margin-bottom: 1vmax;
}


.event-list{
    margin-top: 50px;

}



.event-list h2{
    margin-bottom: 30px
}



.event{
    margin-bottom: 30px;
    padding: 3% 3% 5% 3%;
    background-color: #f9f9f9;
    border-radius: 5px;
    position: relative;
    z-index: 1; /* 必要であればリンク要素の重なりのベース順序指定 */

}



.event-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
}


.event-image{
    width: 100%;
    height: 15vmax;
}

.content{
    margin-bottom: 1vmax;
}



@media only screen and (max-width: 576px){

    .container{
        width: 100%;
    }

    .group-image-list{
    display: grid;
    grid-template-rows: 13vmax 13vmax;
    grid-template-columns: 60% 30%;
    grid-gap: 5% 5%;
    margin-bottom: 5vmax;
    }

    .image{
       width: 100%;
       height: 100%;
       object-fit: cover;
    }



    .group-tag{
        font-size: 2.2vmax;
    }

    .user-image{
        width: 100%;
        height: 13vmax;
    }

    .user-sentence{
        font-size: 2.2vmax;
    }


    .post-image{
        width: 100%;
        height: 13vmax;
    }

    .post-sentence{
        font-size: 2.2vmax;
    }

    .need-signup{
        font-size: 2.5vmax;
    }


    .event-image{
        width: 100%;
        height: 13vmax;
    }

    .event-sentence{
        font-size: 2.2vmax;
    }

    .no-image{
    line-height: 300%;

    }


}



@media only screen and (min-width: 1400px){

.group-image-list{
    display: grid;
    grid-template-rows: 15vmax 15vmax;
    grid-template-columns: 60% 30%;
    grid-gap: 5% 5%;
    margin-bottom: 5vmax;
    }



}

