.image-wrapper {
    position: relative;
    width: 100%;
}
.image-wrapper:before {
    content:"";
    display: block;
    padding-top: 62.5%; /* 高さを幅の75%に固定 */
}


.image-subwrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.image{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

@media only screen and (max-width: 576px){
    .image-wrapper {
        position: relative;
        width: 80%;
        border-top: 0.5px solid rgba(0, 0, 0, 0.1);
        border-right: 0.5px solid rgba(0, 0, 0, 0.1);
        border-left: 0.5px solid rgba(0, 0, 0, 0.1);
    }

}