{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/blogs/post_list.css' %}">
<link rel="stylesheet" href="{% static 'css/eyecatch_image.css' %}">
<link rel="stylesheet" href="{% static 'css/blogs/recent_post_list.css' %}">


{% endblock css %}

{% block content %}



<div class="header-column-wrapper">
    <div class="header-column header-column1">
        <a href="{% url 'group:group_list' %}" class="header-link"></a>グループ
    </div><!--
 --><div class="header-column header-column2">
        <a href="{% url 'events:recent_event_list' %}" class="header-link"></a>イベント
    </div><!--
    --><div class="header-column header-column3">
        <a href="{% url 'blogs:recent_post_list' %}" class="header-link"></a>ブログ
    </div>
</div>





<div class="post-list">
    <h2>投稿一覧</h2>
        {% for post in posts %}
        <div class="post-wrapper">
            <div class="post">
                <a href="{% url 'blogs:post_detail' post_pk=post.pk %}" class="post-link"></a>
                    <div class="posted-at">
                        <span class="group-name">{{ post.posted_group.name }}</span>&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ post.posted_at }}</small>
                    </div>
                <div class="post-body row">


                    <div class="col-12 col-sm-6 col-md-3 col-lg-4 post-image-parent">
                        <div class="image-wrapper">
                            <div class="image-subwrapper no-image">


                            {% if post.image1 %}
                                <img class="image"  src="{{ post.image1.url }}">
                            {% else %}
                                No Image

                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6  offset-md-1 col-lg-6 post-sentence">
                        {% if post.title %}
                        <div class="title">
                            {{ post.title }}
                        </div>
                        {% endif %}


                        <div class="content">
                            {{ post.content|truncatechars:200 }}
                        </div>

                    </div>

                </div>


            </div>
        </div>



        {% endfor %}
    {% if posts %}
        {% include 'pagination.html' %}
    {% else %}
        まだ投稿がありません。
    {% endif %}
</div>





{% endblock %}
