.group{
    margin-bottom: 8vmax;
    margin-bottom: 3vw;
    font-size: 10vmax;
    background-color: #ededed;
    padding-left: 2vw;
    border-radius: 5px;
    position: relative;
    z-index: 1; /* 必要であればリンク要素の重なりのベース順序指定 */

}




.group-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */

}


.group-title h1{
    font-size: 5vmax;

}

.title{
    font-size: 2.5vmax;
    padding-bottom: 1vmax;
}

.header-column-wrapper{
    width:60%;
    box-shadow: 2px  2px 2px rgba(0,0,0,0.3);
    margin-bottom: 5vmax;
}


.header-column{
    border: 1px solid rgba(0,0,0,0.3);
    padding:1vmax;
    width: 33.3%;
    display: inline-block;
    position: relative;
    z-index: 1; /* 必要であればリンク要素の重なりのベース順序指定 */

}

.header-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */

}

.header-column3{
    background-color: #ededed;

}


.post-list{
    margin-top: 50px;

}



.post-list h2{
    margin-bottom: 30px;
}

.post-wrapper{
    margin-bottom: 30px;
}

.post{

    padding: 3% 5% 5% 5%;
    background-color: #f9f9f9;
    border-radius: 5px;
    position: relative;
    z-index: 1; /* 必要であればリンク要素の重なりのベース順序指定 */

}


.post-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
}



.title{
    font-size: 2.3vmax;
}

.posted-at{
    margin-bottom: 2.5vmax;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}


@media only screen and (max-width: 576px){

    .post-image-parent{
        margin-bottom: 4vmax;
    }

    .title{
        font-size: 4vmax;
    }



}

