{% extends "base.html" %}
{% block content %}
{% load message_tags %}

<h2>イベントコメント</h2>
{% for event_comment_message in event_comment_messages %}
        {% autoescape off %}
            {% has_read_event_comment_message event_comment_message %}
        {% endautoescape %}


        <h3>{{ event_comment_message.comment.event.title }}</h3>



        <div>
            <p>{{ event_comment_message.comment.commented_at }}</p>
        </div>

        <div>
            <p>{{ event_comment_message.comment.comment }}</p>
        </div>


{% endfor %}
{% if event_comment_messages %}
    {% include 'pagination.html' %}
{% else %}
<p>（メッセージはありません。）</p>
{% endif %}

{% endblock content %}