{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>プライバシーポリシー</h1>
<br>
<h2>個人情報の収集に関して</h2>
<ol>
    <li>本サイトでは、運営からの連絡やユーザ情報の登録・更新のため、個人情報をお尋ねする場合があります。</li>
</ol>
<h2>個人情報の第三者提供</h2>

<p>本サイトでは、次に掲げる場合を除いて，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。</p>
<ol>
    <li>人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき</li>
    <li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき</li>
    <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
</ol>


{% endblock content %}

