{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>利用規約</h1>
<br>
<p>こちらは、本サービスを利用する上での利用規約になります。必ず利用規約に同意した上、登録をよろしくお願いいたします。</p>
<br>
<p>以下、本利用規約でのコンテンツとはグループ・イベント・ブログ・コメントなど、ユーザーが本サービスで作成する全ての内容物のことを指します。</p>
<br>
<h2>コンテンツ</h2>
<ol>
    <li>ユーザーが作成・投稿したコンテンツの著作権は本サービスに存在するものとします。</li>
    <li>ユーザーが作成・投稿したコンテンツが著作権を侵害する場合、賠償責任はユーザーに存在するものとします。</li>
    <li>ユーザーが作成・投稿したコンテンツに関して、運営が不適切と判断したものは、運営が変更・削除できるものとします。</li>
    <li>ユーザーが作成・投稿したコンテンツが消失した場合でも、運営はユーザーに対して賠償責任を負いません。</li>
</ol>


<h2>ユーザーアカウント</h2>

<ol>
    <li>ユーザーは各自でメールアドレス・パスワードを管理してください。</li>
    <li>ユーザーアカウントが消失した場合・なりすましなどで損害を受けた場合でも、運営はユーザーに対して賠償責任を負いません。</li>
</ol>



<h2>禁止行為</h2>

<ol>
    <li>法令・公序良俗に反する行為</li>
    <li>犯罪行為</li>
    <li>他ユーザーへのなりすまし</li>
    <li>本サービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</li>
    <li>本サービスの他のユーザーまたは第三者の知的財産権，肖像権，プライバシー，名誉その他の権利または利益を侵害する行為</li>
    <li>本サービスの他のユーザー，または第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</li>
    <li>当社のサービスの運営を妨害するおそれのある行為</li>
    <li>暴力的・性的・差別的なコンテンツの作成・投稿</li>
    <li>自殺・自傷行為・薬物乱用を誘引・助長する行為</li>
    <li>反社会的なコンテンツの作成・投稿</li>
    <li>他ユーザーへの嫌がらせ・誹謗中傷</li>
    <li>本サービス・他ユーザーに不快感・損害を与える行為</li>
    <li>性行為・わいせつな行為を目的とするコンテンツの作成・投稿</li>
    <li>本サービスの趣旨にそぐわない目的での本サービスの利用</li>
    <li>宗教・ネットワークビジネスの活動・勧誘</li>
    <li>その他、運営が不適切と判断する行為</li>
</ol>

<h2>登録抹消</h2>

<ol>
    <li>本利用規約に違反する行為が発覚した場合、ユーザーへの勧告・アカウントの停止・永久追放等の措置がとられます。</li>
</ol>

<h2>免責事項</h2>

<ol>
    <li>本サービスは、ユーザー同士で生じたトラブルについて責任を負いません。当事者間の解決をお願いします。</li>
    <li>本サービスはユーザー・コミュニティに生じたあらゆる損害について責任を負いません。</li>
</ol>

<h2>退会</h2>

<ol>
    <li>ユーザーは本サービスの定める手続きによって本サービスから退会することができます。</li>
</ol>



{% endblock content %}

